public net.minecraft.client.gui.Font getFontSet(Lnet/minecraft/resources/ResourceLocation;)Lnet/minecraft/client/gui/font/FontSet;
public net.minecraft.client.multiplayer.ClientPacketListener serverChunkRadius
protected net.minecraft.client.particle.Particle stoppedByCollision
public net.minecraft.client.renderer.ItemInHandRenderer mainHandItem
public net.minecraft.client.renderer.ItemInHandRenderer offHandItem
public net.minecraft.client.renderer.entity.ItemRenderer textureManager

public-f net.minecraft.network.protocol.game.ClientboundPlayerAbilitiesPacket flyingSpeed

public net.minecraft.server.MinecraftServer storageSource
public net.minecraft.server.network.ServerGamePacketListenerImpl aboveGroundTickCount
public net.minecraft.server.network.ServerGamePacketListenerImpl aboveGroundVehicleTickCount

public net.minecraft.world.entity.Entity removalReason
public net.minecraft.world.entity.LivingEntity jumping

public-f net.minecraft.world.item.HoneycombItem WAXABLES
public net.minecraft.world.item.alchemy.PotionBrewing POTION_MIXES
public net.minecraft.world.item.alchemy.PotionBrewing CONTAINER_MIXES
public net.minecraft.world.item.alchemy.PotionBrewing ALLOWED_CONTAINER
public net.minecraft.world.item.crafting.Ingredient values
public net.minecraft.world.item.crafting.RecipeManager recipes

public net.minecraft.world.level.BaseSpawner spawnPotentials
public net.minecraft.world.level.BaseSpawner nextSpawnData
public net.minecraft.world.level.biome.BiomeManager biomeZoomSeed
public net.minecraft.world.level.block.entity.BeaconBlockEntity beamSections
public net.minecraft.world.level.chunk.HashMapPalette values
public net.minecraft.world.level.chunk.PaletteResize

public net.minecraft.client.model.geom.ModelPart cubes
public net.minecraft.client.model.geom.ModelPart children
public net.minecraft.client.model.AgeableListModel scaleHead
public net.minecraft.client.model.AgeableListModel babyYHeadOffset
public net.minecraft.client.model.AgeableListModel babyZHeadOffset
public net.minecraft.client.model.AgeableListModel babyHeadScale

public net.minecraft.client.gui.components.CommandSuggestions suggestions
public net.minecraft.client.gui.components.CommandSuggestions$SuggestionsList <init>(Lnet/minecraft/client/gui/components/CommandSuggestions;IIILjava/util/List;Z)V

public-f net.minecraft.data.recipes.RecipeProvider getName()Ljava/lang/String;

public net.minecraft.world.level.block.TransparentBlock <init>(Lnet/minecraft/world/level/block/state/BlockBehaviour$Properties;)V

public-f net.minecraft.client.gui.components.AbstractWidget render(Lnet/minecraft/client/gui/GuiGraphics;IIF)V

public net.minecraft.util.datafix.fixes.ItemStackComponentizationFix$ItemStackData

public net.minecraft.world.item.crafting.CraftingInput <init>(IILjava/util/List;)V

protected-f net.minecraft.world.entity.decoration.HangingEntity recalculateBoundingBox()V

public net.minecraft.world.item.alchemy.PotionBrewing$Mix

public net.minecraft.data.models.ItemModelGenerators$TrimModelData

public net.minecraft.world.item.crafting.Ingredient <init>([Lnet/minecraft/world/item/crafting/Ingredient$Value;)V

# fabric: entries NeoForge's own AT provides, needed by the vendored shims in neoforge-shim/
public net.minecraft.client.resources.ClientPackSource createVanillaPackSource(Ljava/nio/file/Path;)Lnet/minecraft/server/packs/VanillaPackResources; # fabric: ExistingFileHelper
public net.minecraft.server.packs.FilePackResources$SharedZipFileAccess # fabric: ExistingFileHelper
public net.minecraft.server.packs.FilePackResources$SharedZipFileAccess <init>(Ljava/io/File;)V # fabric: ExistingFileHelper
public net.minecraft.client.renderer.block.model.BlockElement uvsByFace(Lnet/minecraft/core/Direction;)[F # fabric: ModelBuilder
public net.minecraft.data.models.ItemModelGenerators GENERATED_TRIM_MODELS # fabric: ItemModelBuilder
public net.minecraft.world.item.BucketItem content # fabric: FluidBucketWrapper
public net.minecraft.client.particle.ParticleEngine$SpriteParticleRegistration # fabric: RegisterParticleProvidersEvent, Create particles
public net.minecraft.world.level.block.PointedDripstoneBlock WATER_TRANSFER_PROBABILITY_PER_RANDOM_TICK # fabric: NeoForgeMod
public net.minecraft.world.level.block.PointedDripstoneBlock LAVA_TRANSFER_PROBABILITY_PER_RANDOM_TICK # fabric: NeoForgeMod
public net.minecraft.resources.RegistryOps <init>(Lcom/mojang/serialization/DynamicOps;Lnet/minecraft/resources/RegistryOps$RegistryInfoLookup;)V # fabric: ConditionalOps
public net.minecraft.resources.RegistryOps lookupProvider # fabric: ConditionalOps
public net.minecraft.resources.DelegatingOps delegate # fabric: ConditionalOps
public net.minecraft.world.item.crafting.Ingredient$Value # fabric: NeoForge's AT; Create and Registrate use it
public net.minecraft.world.item.crafting.Ingredient$ItemValue # fabric: NeoForge's AT
public net.minecraft.world.item.crafting.Ingredient$TagValue # fabric: NeoForge's AT
public net.minecraft.server.level.ServerPlayer$RespawnPosAngle # fabric: NeoForge AT; IBlockExtension#getRespawnPosition
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen leftPos # fabric: IAbstractContainerScreenExtension
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen topPos # fabric: IAbstractContainerScreenExtension
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen imageWidth # fabric: IAbstractContainerScreenExtension
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen imageHeight # fabric: IAbstractContainerScreenExtension
public net.minecraft.client.gui.screens.Screen minecraft # fabric: IScreenExtension
public net.minecraft.client.KeyMapping key # fabric: IKeyMappingExtension
public net.minecraft.client.renderer.entity.EntityRenderDispatcher playerRenderers # fabric: IEntityRenderDispatcherExtension
public net.minecraft.world.item.component.ItemContainerContents items # fabric: IItemContainerContentsExtension
public net.minecraft.client.gui.Gui SPYGLASS_SCOPE_LOCATION # fabric: NeoForge AT; IClientItemExtensions
public net.minecraft.client.renderer.entity.ItemRenderer blockEntityRenderer # fabric: IClientItemExtensions (NeoForge's getBlockEntityRenderer)
public net.minecraft.world.level.block.FireBlock getBurnOdds(Lnet/minecraft/world/level/block/state/BlockState;)I # fabric: NeoForge AT; IBlockExtension
public net.minecraft.world.level.block.FireBlock igniteOdds # fabric: IBlockExtension
public net.minecraft.world.item.AxeItem STRIPPABLES # fabric: IBlockExtension
public net.minecraft.world.item.ShovelItem FLATTENABLES # fabric: IBlockExtension
public net.minecraft.data.DataGenerator vanillaPackOutput # fabric: IDataGeneratorExtension
public net.minecraft.data.DataGenerator providersToRun # fabric: IDataGeneratorExtension
public net.minecraft.data.DataGenerator allProviderIds # fabric: IDataGeneratorExtension
public net.minecraft.client.gui.components.AbstractWidget renderScrollingString(Lnet/minecraft/client/gui/GuiGraphics;Lnet/minecraft/client/gui/Font;Lnet/minecraft/network/chat/Component;IIIII)V # fabric: NeoForge AT; IGuiGraphicsExtension
public net.minecraft.data.loot.LootTableProvider subProviders # fabric: Registrate (NeoForge's getTables)
public net.minecraft.world.level.storage.loot.parameters.LootContextParamSets REGISTRY # fabric: Registrate (was ObfuscationReflectionHelper)
public net.minecraft.data.tags.TagsProvider$TagAppender builder # fabric: ITagAppenderExtension
